node_modules
# Keep environment variables out of version control
.env
.env.test

**/dist

.idea
.vscode
.cursor

/packages/backend/cache/
/packages/backend/sounds/

# Ignore prod docker compose file.
/packages/backend/compose.yaml

/packages/backend/llmInstructions/*
!packages/backend/llmInstructions/README.md
