node_modules
# Keep environment variables out of version control
.env
.env.test

/packages/backend/sounds/
/packages/backend/cache/
**/dist

.idea
.vscode
.cursor

packages/backend/llmInstructions/*
!packages/backend/llmInstructions/README.md
